<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Administrator Management: Exercise Help</h3>
            <h4>Descripción general</h4>
            <p>Dependiendo del tipo de usuario que inicie sesión en la aplicación 
                podrá hacer una cosa u otra. Si es de tipo profesor, el 
                usuario podrá mediante los controles de los que dispone la 
                ventana crear, modificar, buscar y eliminar los ejercicios de 
                las unidades de las asignaturas de las que se haga cargo. Si es
                de tipo alumno, el usuario solo podrá buscar los ejercicios de
                las unidades de las asignaturas en las que este previamente 
                matriculado. Así mismo podrán generar un informe que contiene un 
                listado de los ejercicios con sus correspondientes datos.</p>
            <img src="../../resources/exercise/1ventanaentera.png" alt="" height="807" width="1368">

            <h4>Operaciones para profesores</h4>

            <strong>Crear ejercicios</strong>
            <p>Para crear un ejercicio, tendrá que seleccionar la unidad, 
                el número, las horas que se tarda en hacerlo, la fecha límite, 
                seleccionar la dificultad y la descripción.</p>
            <img src="../../resources/exercise/2crearvacio.png" alt="" height="488" width="422">
            <p>Una vez estén todos los campos válidados, el profesor podrá 
                pulsar en el botón de <strong>Create</strong>. </p>
            <img src="../../resources/exercise/3crearcondatos.png" alt="" height="493" width="421">
            <p>Si no se produce ningún error, se creará el ejercicio.</p>
            <img src="../../resources/exercise/4creado.png" alt="" height="212" width="361">
            <img src="../../resources/exercise/5creadoenlatabla.png" alt="" height="457" width="765">

            <p><strong>Modificar ejercicios</strong></p>
            <p>Para modificar un ejercicio deberá seleccionar un ejercicio de la 
                tabla y tendrá que cambiar el campo que quiera y pulsar el botón 
                <strong>Modify</strong>.</p> 
            <img src="../../resources/exercise/6modificar.png" alt="" height="523" width="1166">
            <img src="../../resources/exercise/7modificando.png" alt="" height="502" width="428">
            <p>Saldrá una confirmación que le preguntará si quiere modificarlo.</p> 
            <img src="../../resources/exercise/8modificarpregunta.png" alt="" height="212" width="361">
            <p>Si es afirmativa y no se produce ningún error se modificará el 
                ejercicio.</p>
            <img src="../../resources/exercise/9modificado.png" alt="" height="212" width="361">
            <img src="../../resources/exercise/10modificadotabla.png" alt="" height="452" width="767">

            <p><strong>Borrar ejercicios</strong></p> 
            <p>Para eliminar un ejercicio deberá seleccionar el que quiera 
                de la tabla y pulsar en el botón de <strong>Delete</strong>.</p>  
            <img src="../../resources/exercise/11borrado.png" alt="" height="523" width="792">
            <p>Si no se produce ningún error, se le pedirá una confirmación para borrar 
                el ejercicio deseado.</p> 
            <img src="../../resources/exercise/12borradopregunta.png" alt="" height="231" width="361">
            <p> Si se confirma el borrado se eliminará el 
                ejercicio y se actualizará la tabla que se muestra en la ventana.</p>
            <img src="../../resources/exercise/13tablaborrada.png" alt="" height="495" width="758">

            <h4>Operaciones para profesores y alumnos</h4>
            <strong>Busqueda de ejercicios</strong>
            <p>Para buscar los datos de un ejercicio primero deberá 
                seleccionar en el combobox de las unidades la unidad de la cual
                quiera los ejercicios. También tendrá que seleccionar en el 
                combobox llamado search type como quiere buscarlo, si por la 
                fecha, por el tipo de dificultad o por el número de ejercicio.
                En caso de que el usuario ser un profesor, también tendrá la 
                opción de buscar todos los ejercicios. Cuando ya sepa que quiere 
                buscar, le tendrá que pulsar en el botón de 
                <strong>Search</strong>. Si no sale ningún error, la tabla se 
                actualizará con los ejercicios que quiere encontrar. </p>
            <img src="../../resources/exercise/14searchleveltype.png" alt="" height="177" width="762">
            <img src="../../resources/exercise/15searchnumber.png" alt="" height="168" width="763">
            <p>Si no se encuentra, saldra un error de no encontrado.</p>
            <img src="../../resources/exercise/16searchaviso.png" alt="" height="212" width="361">

            <p><strong>Imprimir listado de mental disease</strong></p>
            <p>Pulsando el botón <strong>Print</strong> se abrirá una ventana 
                donde puede ver un documento que contiene un listado de los 
                ejercicios que existen en la aplicación. Mediante los botones de 
                la parte superior de la ventana podrá imprimir o almacenar dicho 
                informe.</p>
            <img src="../../resources/exercise/17print.png" alt="" height="807" width="1368">
            <img src="../../resources/exercise/18jasper.png" alt="" height="908" width="1232">
        </div>
    </body>
</html>
