<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SUBJECT HELP PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Administrator Management: Help</h3>
            <img src="../../resources/SubjectHelp/VentanaCompleta.png" alt="Ventana Completa">
            <h4>Descripción general</h4>
            <p>Dependiendo del tipo de usuario que inicie sesión en la aplicación, podrá realizar acciones específicas. 
                Si el usuario es de tipo profesor, tendrá acceso a controles que le permitirán crear, modificar,
                buscar y eliminar asignaturas. Por otro lado, si el usuario es de tipo alumno, podrá realizar 
                búsquedas sobre las diferentes asignaturas. Además, si se encuentra en la opción de visualizar 
                todas las asignaturas, tendrá la posibilidad de matricularse. Esta opción estará seleccionada 
                por defecto al abrir la ventana y al pulsar "All Subjects" en el combo box de selección. </p>
            <img src="../../resources/SubjectHelp/AlumnoMatriculado.png" alt="Ventana Completa">
            <h4>Operaciones para profesores</h4>
            <strong>Crear asignaturas</strong>
            <p>Para crear una asignatura, el usuario deberá hacer clic en el botón
                <strong>Create</strong>. Se generará una asignatura con valores predeterminados,
                inicializando los campos Level a 'BEGINNER', Language a 'SPANISH' y las fechas a
                la fecha del día de creación. Los demás campos estarán vacíos.

                Si no hay errores, la nueva entrada se mostrará en la tabla.

                Si el usuario desea crear otra asignatura, se validará que la que ha comenzado a crear
                tenga el campo "name" (identificador clave) informado. Si no es así, se le indicará al
                usuario que complete la creación de esa asignatura antes de comenzar la creación de otra.</p>

            <strong>Modificar asignaturas</strong>
            </br>
            <p>La modificación de asignaturas se realizará directamente sobre la tabla, la cual es editable. 
                Para modificar los campos de texto, como "name" y "hours", simplemente haz doble clic en el campo que deseas editar 
                y presiona "Enter" para finalizar la edición.</p>
            <img src="../../resources/SubjectHelp/editText.gif" alt="Ventana Completa">
            <p>Para asignar profesores a la asignatura, haz doble clic en la celda correspondiente a los profesores. 
                Se abrirá un menú desplegable con la lista de todos los profesores, donde los que ya estén asignados a esa asignatura 
                aparecerán preseleccionados. Después de seleccionar los nuevos profesores, presiona "Enter" para guardar la selección.</p>
            <img src="../../resources/SubjectHelp/listView.gif" alt="Ventana Completa">
            <p>Para editar los campos de nivel e idioma, haz doble clic en sus respectivas celdas y se desplegará un menú de selección 
                con las diferentes opciones disponibles. Al seleccionar una opción diferente a la actual, se realizará el cambio.</p>
            <img src="../../resources/SubjectHelp/combo.gif" alt="Ventana Completa">
            <p>Finalmente, para editar las celdas de fecha, selecciona la celda correspondiente y se abrirá un selector de fechas, 
                donde podrás elegir la nueva fecha deseada.</p>
            <img src="../../resources/SubjectHelp/datePicker.gif" alt="Ventana Completa">

            <strong>Borrar asignaturas</strong>
            <p>Para eliminar una asignatura deberá seleccionar el que quiera 
                de la tabla y pulsar en el botón de <strong>Delete</strong>. Si no 
                se produce ningún error, se le pedirá una confirmación para borrar 
                la asignatura deseada. Si se confirma el borrado se eliminará la asignatura
                y se actualizará la tabla que se muestra en la ventana.</p>
            <h4>Operaciones para alumnos</h4>
            <strong>Matricularse y desmatricularse en una asignatura</strong>
            <p> Un alumno podrá matricularse o desmatricularse en una asignatura si se 
                encuentra en la opción de visualizar todas las asignaturas.
                Se le solicitará confirmación para llevar a cabo la matriculación o desmatriculación 
                en dicha asignatura. Después de la confirmación, la acción se realizará. </p>

            <h4>Operaciones para profesores y alumnos</h4>
            <strong>Busqueda de ejercicios</strong>
            <p>Para buscar los datos de una asignatura primero deberá 
                seleccionar en el combobox 
                
                de las unidades la unidad de la cual
                quiera los ejercicios. También tendrá que seleccionar en el 
                combobox llamado search type como quiere buscarlo, si por la 
                fecha, por el tipo de dificultad o por el número de ejercicio.
                En caso de que el usuario ser un profesor, también tendrá la 
                opción de buscar todos los ejercicios. Cuando ya sepa que quiere 
                buscar, le tendrá que pulsar en el botón de 
                <strong>Search</strong>, si no sale ningún error, la tabla se 
                actualizará con los ejercicios que quiere encontrar. 
                Si no se encuentra, saldra un error de no encontrado.</p>
            <strong>Imprimir listado de mental disease</strong>
            <p>Pulsando el botón <strong>Print</strong> se abrirá una ventana 
                donde puede ver un documento que contiene un listado de los 
                ejercicios que existen en la aplicación. Mediante los botones de 
                la parte superior de la ventana podrá imprimir o almacenar dicho 
                informe.</p>
            
            <h4>Menus de contexto</h4>
            <p> </p>
        </div>
    </body>
</html>
