<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SUBJECT HELP PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Administrator Management: Help</h3>
            <h4>Descripción general</h4>
            <p>Dependiendo del tipo de usuario que inicie sesión en la aplicación 
                podrá hacer una cosa u otra. Si es de tipo profesor, el 
                usuario podrá mediante los controles de los que dispone la 
                ventana crear, modificar, buscar y eliminar los ejercicios de 
                las unidades de las asignaturas de las que se haga cargo. Si es
                de tipo alumno, el usuario solo podrá buscar los ejercicios de
                las unidades de las asignaturas en las que este previamente 
                matriculado. Así mismo podrán generar un informe que contiene un 
                listado de los ejercicios con sus correspondientes datos.</p>
            <h4>Operaciones para profesores</h4>
            <strong>Crear ejercicios</strong>
            <p>Para crear un ejercicio, tendrá que seleccionar la unidad, 
                el número, un archivo con el enunciado del ejercicios, otro 
                archivo distinto con la solución de dicho ejercicios, las horas
                que se tarda en hacerlo, la fecha límite, seleccionar la 
                dificultad y la descripción. Una vez estén todos los campos 
                válidados, el profesor podrá pulsar en el botón de 
                <strong>Create</strong>. Si no se produce ningún error, 
                se creará el mental disease.</p>
            <strong>Modificar ejercicios</strong>
            <p>Para modificar un ejercicio deberá seleccionar un ejercicio de la 
                tabla y tendrá que cambiar el campo que quiera y pulsar el botón 
                <strong>Modify</strong>. Saldrá una confirmación que le preguntará 
                si quiere modificarlo. Si es afirmativa y no se produce ningún 
                error se modificará el ejercicio.</p>
            <strong>Borrar ejercicios</strong>
            <p>Para eliminar un ejercicio deberá seleccionar el que quiera 
                de la tabla y pulsar en el botón de <strong>Delete</strong>. Si no 
                se produce ningún error, se le pedirá una confirmación para borrar 
                el ejercicio deseado. Si se confirma el borrado se eliminará el 
                ejercicio y se actualizará la tabla que se muestra en la ventana.</p>
            <h4>Operaciones para profesores y alumnos</h4>
            <strong>Busqueda de ejercicios</strong>
            <p>Para buscar los datos de un ejercicio primero deberá 
                seleccionar en el combobox de las unidades la unidad de la cual
                quiera los ejercicios. También tendrá que seleccionar en el 
                combobox llamado search type como quiere buscarlo, si por la 
                fecha, por el tipo de dificultad o por el número de ejercicio.
                En caso de que el usuario ser un profesor, también tendrá la 
                opción de buscar todos los ejercicios. Cuando ya sepa que quiere 
                buscar, le tendrá que pulsar en el botón de 
                <strong>Search</strong>, si no sale ningún error, la tabla se 
                actualizará con los ejercicios que quiere encontrar. 
                Si no se encuentra, saldra un error de no encontrado.</p>
            <strong>Imprimir listado de mental disease</strong>
            <p>Pulsando el botón <strong>Print</strong> se abrirá una ventana 
                donde puede ver un documento que contiene un listado de los 
                ejercicios que existen en la aplicación. Mediante los botones de 
                la parte superior de la ventana podrá imprimir o almacenar dicho 
                informe.</p>
        </div>
    </body>
</html>
