<!DOCTYPE html>
<html>
    <head>
        <title>Units help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Units Manager: Help</h3>
            <h4>Descripción general</h4>
            <p>Dependiendo del tipo de usuario que inicie sesión en la aplicación 
                podrá hacer una cosa u otra. </p>

            <p>Si es de tipo <strong>"Teacher"</strong>, el usuario podrá mediante los controles de 
                los que dispone la ventana crear, modificar, buscar y eliminar las 
                units de las subjects en las que este enseñando el usuario.</p>

            <p>Si es de tipo  <strong>"Student"</strong>, el usuario solo podrá buscar las units de
                de las subjects en las que este previamente matriculado. 
                Así mismo. ambos usuarios podrán generar un informe que contiene un 
                listado de los unidades con sus correspondientes datos.</p>
            <h4>Operaciones para  <strong>"Teacher"</strong></h4>
            <strong>Crear Units</strong>
            <p>Para crear una Unit, tendras que hacer click en el botón de 
                <strong>"Create"</strong> y este generara una Unit con valores por 
                defecto en la tabla.</p>
            <p>En una misma Subject no pueden haber dos Unit con el mismo nombre, por lo que antes
                de crear la unit con valores por defecto te conprobara que no existe una sin nombre en 
                la misma subjects donde se cree.</p>
            <p>Si sucede este problema aparecera una alerta avisando que añadas nombre a la unit que no tiene.</p>
            //------------------------------------Foto error unitNameExistException------------------------------------------
            <p>Si todo sale bien la tabla se cargará con el nuevo valor.</p>
            <strong>Modificar Units</strong>
            <p>
            </p>
            <strong>Borrar Units</strong>
            <p>

            </p>
            <h4>Operaciones para <strong>ambos users</strong></h4>
            <strong>Busqueda de Units</strong>
            <p></p>
            <strong>Imprimir listado de Units</strong>
            <p></p>
        </div>
    </body>
</html>
